    <!-- footer -->
    <footer class="rai-footer">
      <div class="rai-footer-inner">
        <div>
          <h4>Initiative</h4>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="what-we-do.html">What we do</a></li>
            <li><a href="best-practices.html">Best practices</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </div>
        <div>
          <h4>Participate</h4>
          <ul>
            <li><a href="get-involved.html">Get involved</a></li>
            <li><a href="https://lists.apache.org/list.html?discuss@rai.apache.org">Mailing list</a></li>
            <li><a href="https://infra.apache.org/slack.html">ASF Slack</a></li>
            <li><a href="https://github.com/apache/rai-site">Source repository</a></li>
          </ul>
        </div>
        <div>
          <h4>Support</h4>
          <ul>
            <li><a href="https://apache.org/foundation/initiatives/responsibleai">Support the initiative</a></li>
            <li><a href="https://news.apache.org/foundation/entry/the-apache-software-foundation-launches-10m-responsible-ai-initiative-with-initial-1-75m-donation">Announcement</a></li>
            <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
          </ul>
        </div>
        <div>
          <h4>Foundation</h4>
          <ul>
            <li><a href="https://www.apache.org/">apache.org</a></li>
            <li><a href="https://www.apache.org/licenses/">License</a></li>
            <li><a href="https://www.apache.org/security/">Security</a></li>
            <li><a href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy policy</a></li>
          </ul>
        </div>
      </div>
      <div class="rai-legal">
        Copyright {{ CURRENTYEAR }}, <a href="https://www.apache.org/">The Apache Software Foundation</a>, licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.<br>
        Apache&reg; and the Apache logo are trademarks or registered trademarks of The Apache Software Foundation.
      </div>
    </footer>
