<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light sourcelume-nav fixed-top" aria-label="Apache Sourcelume Navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
        <!---
      <img src="images/rai-mark.svg" alt="" aria-hidden="true">
      -->
      <span>Apache Sourcelume</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarADP" aria-controls="navbarADP" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarADP">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="get-involved.html">Get involved</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Specification
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="specification.html">Specification</a></li>
            <li><a class="dropdown-item" href="registry.html">Registry</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
        <li class="nav-item dropdown">
          <a href="javascript:void(0)" class="nav-link dropdown-toggle hidden-xs" role="button" data-bs-toggle="dropdown"><span class="fa-solid fa-magnifying-glass" aria-hidden="true"></span> Search</a>
          <ul class="search-form dropdown-menu">
            <li>
              <div id="pagefind-search" class="input-group" style="width: 100%; padding: 0 5px;"></div>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="community.html">Community</a></li>
      </ul>
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item me-lg-3 my-2 my-lg-0">
          <a class="sourcelume-support" href="https://apache.org/foundation/initiatives/responsibleai">Support the RAI Initiative</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            The ASF
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="https://www.apache.org/">Foundation</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/sourcelume-site/">Website repository</a></li>
            <li><a class="dropdown-item" href="https://lists.apache.org/list.html?dev@sourcelume.apache.org">Mailing list archive</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://www.apache.org/licenses/">License</a></li>
            <li><a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
            <li><a class="dropdown-item" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://www.apache.org/security/">Security</a></li>
            <li><a class="dropdown-item" href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy policy</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
